.banner {
	background-image: url(../../images/Unknown.jpg);
	color: white;
	padding: 150px 0px;
	background-size: cover;
	background-position: center;
	opacity: 0.9;

}

.banner h1 {
	font-size: 50px;
}

.banner h2 {
	font-size: 20px;
	font-weight: lighter;
	margin-bottom: 40px;
}